/* body{
  text-align: center;
  overflow: hidden;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  font-size: 50px;
}

input[type='text'], button{
  padding: 10px, 30px;
  border:  black 2px solid;
  font-size: 30px;
  outline: none;
}
button:disabled {
  opacity: 0.3;

}
span {
  font-size: 30px;
} */
html {
  font-size: 20px;
  font-family: serif;
}
li {
  line-height: 160%;
  padding: 20px, 10px;
  cursor: pointer;
}
li:nth-child(even) {
  background-color: #eee;
}
li:nth-child(odd) {
  border-color: #ccc;
}
