body {
  font-size: 36px;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
p {
  font-family: 'Times New Roman', Times, serif;
}

button {
  border: 2px solid black;
  padding: 10px 20px;
  background-color: cornsilk;
}
